In [122]:
import pandas as pd

In [123]:
df = "Election.csv"

In [124]:
df1 = pd.read_csv(df, encoding="ISO-8859-1")

In [125]:
df1.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [126]:
total_voters = df1["Voter ID"].value_counts()
total_voters.sum()

3521001

In [127]:
total = df1["Candidate"].value_counts()/3521001*100
total

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [128]:
df2 = df1.set_index("Voter ID")
df2.head()

         County Candidate
Voter ID
12864552  Marsh      Khan
17444633  Marsh    Correy
19330107  Marsh      Khan
19865775  Queen      Khan
11927875  Marsh      Khan

In [129]:
Winner = df2.iloc[0, 1]
print("Winner: " + Winner)

Winner: Khan

In [130]:
total1 = df1["Candidate"].value_counts()
total1

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [132]:
print("Election Results")
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
print(" ")
print("Total Voters: ", total_voters.sum())
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
print(" ")
print("Percentage of Votes Each Candidate Won")
print(" ")
print(total)
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
print(" ")
print("Total Number of Votes Each Candidate Won")
print(" ")
print(total1)
print(" ")
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
print(" ")
print("Winner: " + Winner)
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")

Election Results
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

Total Voters:  3521001
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

Percentage of Votes Each Candidate Won

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

Total Number of Votes Each Candidate Won

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

Winner: Khan
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _